// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.keyIcon {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: $size-md;
  }
}

.mapKeyContainer {
  position: sticky;
  right: $size-xsm;
  bottom: $size-xsm;
  text-align: right;
}

.showKeyBtn {
  position: absolute;
  right: $size-sm;
  bottom: $size-sm;

  svg {
    transform: rotate(-90deg);
  }
}

.mapKey {
  &.accessMenu {
    position: absolute;
    right: $size-sm;
    bottom: $size-sm;
    border: 1px solid rgba($black, 0.1);
    border-radius: 5px;
  }
}

.hideKeyBtn {
  margin-left: $size-md;

  svg {
    transform: rotate(90deg);
    fill: get-color(secondary);
  }
}
