// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

$duration: 0.75s;

.textBg {
  animation: fade $duration ease-out forwards;

  & + path {
    fill: $white;
    stroke: $white;
    stroke-width: 0.25;
  }

  & ~ [id='Airport'] {
    fill: $white;
  }
}

.mapView {
  position: sticky;
  top: 0;
  max-height: 100vh;

  @media (min-width: $breakpoint-md) {
    margin: $size-md;
  }

  &::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
  }
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zoneSelected {
  path:first-child {
    fill: get-color(secondary, 70);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
