// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

$duration: 0.75s;

.textBg {
  animation: fade $duration ease-out forwards;
  shape-rendering: crispEdges;

  &+path {
    fill: $white;
    stroke: $white;
    stroke-width: 0.25;
    shape-rendering: crispEdges;
    paint-order: stroke;
  }

  g {
    path {
      fill: $white;
      stroke: $white;
      stroke-width: 0.25;
      shape-rendering: crispEdges;
      paint-order: stroke;
    }
  }

  // Change the airport icon to white if it is a child of selected station
  &~[id='Airport'] {
    fill: $white;
  }
}

.mapView {
  position: relative;
}

.mapView {
  max-height: 100vh;

  @media (min-width: $breakpoint-md) {
    position: sticky;
    top: 0;
    margin: $size-md;
  }

  // CSS aspect ratio to match SVG viewBox (822.5:757.6 ≈ 1.086:1)
  &::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 92.04%; // 757.6 / 822.5
  }
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zoneSelected {
  path:first-child {
    fill: get-color(secondary, 70);
  }
}

.zoneSelected[data-name='Zone 5'] path:nth-child(2) {
  fill: get-color(secondary, 70);
}

.zoneSelected[data-name='WMN nTrain Zone 5'] > g:nth-child(3) > path:nth-child(1) {
  fill: get-color(text);
}

.selectedStation {
  text {
    fill: $white !important;
  }

  text tspan {
    fill: $white !important;
  }

  > g:not([id]) path {
    fill: $white !important;
  }
}

.hideStations {
  &>g:not(.showStation):not(.selectedStation) {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
