// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.selectedStationBox {
  position: relative;
  width: 100%;
  padding: $size-xsm $size-xs;
  border: 1px solid get-color(primary);
}

.selectedSummary {
  width: 100%;
  margin-top: $size-md;

  @media all and (min-width: 360px) {
    max-width: calc(100% - (115px));
    margin-top: 0;
    margin-right: $size-md;
  }
}
