// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.closeButton {
  position: absolute;
  top: 1rem;
  right: $size-xsm;
  margin: auto;
  border: 0;
  background: none;
  cursor: pointer;

  @media all and(min-width: 400px) {
    top: 0;
    bottom: 0;
  }
}

.closeButtonFloated {
  position: relative;
  margin-top: -$size-md;
  float: right;
}

.closeIcon {
  width: 22px;
  height: 22px;
  fill: get-color(secondary);
}
