// Fix for iOS pull-to-refresh when using tray

@media all and (max-width: 767px) {
  .mobileTrayVisible {
    &,
    body {
      position: fixed;
      width: 100%;
      overflow: hidden;

      .disruptionsContainer {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; // enables “momentum” (smooth) scrolling
      }
    }
  }
}
